[https]
	proxy = https://127.0.0.1:7890
[http]
	proxy = http://127.0.0.1:7890
[color]
	ui = auto
[user]
	email = 20837051+demondancer@users.noreply.github.com
	name = DemonDancer
[alias]
	co = checkout
	br = branch
	ss = status
	ci = commit
[core]
	editor = vim
	autocrlf = false
[diff]
	tool = vimdiff3
[difftool]
	prompt = false
	trustExitCode = true
	keepBackup = false
[merge]
	tool = vimdiff3
[mergetool]
	prompt = false
	trustExitCode = true
	keepBackup = false
